<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http.//github.com/JustinRanderson">Justin</a>
  </p>
  <br />
  <p>
    Justin is fresh to the coding world and hopes to make an impact like Ken and Marco did.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Justin Randerson</h2>
      <br />
      <p>
        Justin Randerson is a student learning software development through a coding bootcamp with the UW extended campus
      </p>
    </div>
  </div>
  <br class="clear" />


</div>


<br class="clear" />
<br />
<br />
<br />
<br />

